
@media screen and (max-width: 768px){
    img.logo{
        max-width: 50%;
    }
}

.wy-nav-content-wrap {
   background-color: #333; 
}

.wy-nav-content {
   background-color: #ccc; 
}

.wy-side-nav-search .version {
	display: none;
}