@media screen and (max-width: 480px) {
    .wy-side-nav-search>a img.logo, .wy-side-nav-search .wy-dropdown>a img.logo {
        max-width: 50%;
    }
}

.wy-nav-content-wrap {
   background-color: #333; 
}

.wy-nav-content {
   background-color: #ccc; 
}

.wy-side-nav-search .version {
	display: none;
}